{
  "plugins": [
    "prettier",
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "warn"
    ],
        "prettier": "warn",
        "no-param-reassign": "off",
        "arrow-parens": "off",
        "no-console": "warn",
        "no-shadow": "warn",
        "react/prop-types": "off",
        "react/destructuring-assignment": "off",
        "consistent-return": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "eol-last": "off"
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ]
  //  "extends": ["plugin:prettier/recommended", "prettier/react","airbnb", "prettier/react", "plugin:react/recommended"],
}