html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}
 
.canvasTree Path {
  fill: none;
  stroke: midnightblue;
  stroke-width: 4.0;
  animation: fadein 6s;
  -moz-animation: fadein 6s; 
  -webkit-animation: fadein 6s; 
  -o-animation: fadein 6s; 
 }
 .canvasTree text {
  text-shadow: -1px -1px 3px whitesmoke, -1px 1px 3px white, 1px -1px 3px white,
    1px 1px 3px white;
  font-family: "Lusitana", serif;
  animation: fadein 12s;
  -moz-animation: fadein 12s; 
  -webkit-animation: fadein 12s; 
  -o-animation: fadein 12s; 
 }

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /*  Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.fun-hover {
  background-image: -webkit-linear-gradient(left, #1976d2 50%, #fee603 50%);
  background-image: linear-gradient(to right, #1976d2 50%, #fee603 50%);
  background-position: 0;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.fun-hover:hover {
  background-position: -100%;
}
