.canvasTree Path {
    fill: none;
    stroke: midnightblue;
    stroke-width: 2.5;
   }
   
   text {
    text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
      1px 1px 3px white;
    font-family: "Lusitana", serif;
   }